<div class="row">
  <div id="level-tools" class="btn-toolbar">
    <button id="generate" class="btn pull-right">Generate</button>
    <button class="btn move" data-action="cruise-on">Cruise On</button>
    <button class="btn move" data-action="cruise-off">Cruise Off</button>
    <button class="btn rotate">Rotate</button>
  </div>
</div>
<div class="clearfix" style="margin-top: 4px"></div>
<div class="row">
  <div id="program-panel" class="span3">
  </div>
  <div class="span9">
    <div id="level-content">
    </div>
  </div>
</div>
<div class="row">
  <div class="btn-toolbar">
    <button id="run-program" class="btn">Play</button>
    <button id="pause-program" class="btn">Pause</button>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="well">
      <h2>Level 1 Mission</h2>
      <p class="lead">Learn about some of the basic navigational controls of your rover by guiding it through this simple maze.</p>
      <p>The number of walls can vary and their vertical position can change, but their horizontal position will not. Press the "Generate" button to get a better idea of the types of layouts your rover must be able to handle.</p>
      <p>When you press the play button, your program will be run against 3 random layouts of this type. If your rover reaches the blue circle for each variation, you will move on to the next level.</p>
    </div>
  </div>
</div>
<div id="debug" class="row">
</div>

<div class="modal hide fade" id="goal-reached">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Mission Complete!</h3>
  </div>
  <div class="modal-body">
    <p>Congratulations, you completed your first mission.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>


<% content_for :jquery do %>
  <%= javascript_tag do %>
    <%= render :partial => 'shared/level.js' %>
  <% end %>
<% end %>
