<div class="row">
  <div class="span3">
    <p>Hello</p>
  </div>
  <div class="span9">
    <div id="level-content">
    </div>
  </div>
</div>
<div id="debug" class="row">
</div>
<% content_for :jquery do %>
  <%= javascript_tag do %>
    <%= render :partial => 'shared/level.js' %>
  <% end %>
<% end %>
