<div class="row">
  <div class="span-main offset-side">
    <div id="info" class="pull-right">
      Heading <span id="heading" class="label label-info"></span>
    </div>
    <span id="status" class="label">Stopped</span>
  </div>
</div>
<div class="clearfix" style="margin-top: 4px"></div>
<div class="row">
  <div id="program-panel" class="span-side">
  </div>
  <div class="span-main">
    <div id="level-content">
    </div>
  </div>
</div>
<div class="row">
  <div class="span-side">
    <div class="btn-toolbar">
      <button id="run-program" class="btn"><i class="icon-play"></i> Run</button>
      <button id="pause-program" class="btn"><i class="icon-pause"></i> Pause</button>
      <button id="stop-program" class="btn"><i class="icon-repeat"></i> <span>Generate</span></button>
    </div>
  </div>
  <div id="view-mission" class="span-main">
    <div class="btn-toolbar">
      <button class="btn pull-right" href="#level-mission" data-toggle="modal"><i class="icon-bookmark"></i> View Mission</button>
    </div>
  </div>
</div>

<div class="modal hide fade" id="level-mission">
  <div class="modal-header">
    <h3>Level <span class="level-number">1</span> Mission</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">OK</a>
  </div>
</div>

<div class="modal hide fade" id="goal-reached">
  <div class="modal-header">
    <h3>Mission Complete!</h3>
  </div>
  <div class="modal-body">
    <p>Congratulations, you completed your first mission.</p>
  </div>
  <div class="modal-footer">
    <a id="next-level" href="#" class="btn btn-success">Continue</a>
  </div>
</div>

<% content_for :jquery do %>
  <%= javascript_tag do %>
    <%= render :partial => 'shared/level.js' %>
  <% end %>
<% end %>
