#level-content {
  border: 2px solid gray;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

#level-content .wall {
  stroke: gray;
}

#level-content .rover {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

#level-content .goal {
  stroke: blue;
  stroke-width: 3;
  fill: none;
}

#level-content .block {
  stroke: gray;
  stroke-width: 2;
  fill: none;
}

#level-tools {
  height: 20px;
  margin-bottom: 8px;
}
