#level-content {
  border: 1px solid gray;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.wall {
  stroke: gray;
}

.rover {
  fill: black;
}

.goal {
  stroke: blue;
  stroke-width: 3;
  fill: none;
}
