#program-panel [class*="span"] {
  /* margin-left: 2px; */
}

#program-panel .well [class*="span"] {
  /* margin-left: 14px; */
}

#program-panel .block {
  /* margin-bottom: 10px; */
}

#program-panel > .row {
  margin-bottom: 4px;
}

#program-panel p.add-instruction {
  text-align: center;
}


#program-panel .instruction-container p {
  /*text-align: left;*/
  margin-bottom: 0px;
}


#program-panel select.arguments {
  max-width: 85px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
}

#program-panel .well {
  padding: 6px;
}

#program-panel .well .well {
  background-color: lightgoldenrodyellow;
}
