#program-panel [class*="span"] {
  /* margin-left: 2px; */
}

#program-panel .well [class*="span"] {
  /* margin-left: 14px; */
}

#program-panel .block {
  /* margin-bottom: 10px; */
}

#program-panel .instruction-container {
  margin-bottom: 4px;
}

#program-panel p.add-instruction {
  text-align: center;
  margin-bottom: 2px;
}


#program-panel .instruction-container p {
  /*text-align: left;*/
  margin-bottom: 0px;
}


#program-panel select.arguments {
  max-width: 90px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
}

#program-panel .well {
  padding: 8px 12px 2px 12px;
}

#program-panel .well .well {
  background-color: lightgoldenrodyellow;
}

#program-panel .well .well.secondary {
  background-color: lightsalmon;
}

#program-panel p.center {
  text-align: center;
}

#program-panel .instruction-container.block-container {
  margin-bottom: 0px;
}

.instruction-container.block-container .instruction-content > p {
  display: inline-block;
  background-color: whiteSmoke;
}

.well .instruction-container.block-container .instruction-content > p {
  display: inline-block;
  background-color: lightgoldenrodyellow;
}

