#program-panel [class*="span"] {
  /* margin-left: 2px; */
}

#program-panel .well [class*="span"] {
  /* margin-left: 14px; */
}

#program-panel .block {
  /* margin-bottom: 10px; */
}

#program-panel .instruction-container {
  margin-bottom: 4px;
}

#program-panel p.add-instruction {
  text-align: center;
  margin-bottom: 2px;
}


#program-panel .instruction-container p {
  /*text-align: left;*/
  margin-bottom: 0px;
}


#program-panel select.arguments {
  max-width: 90px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
}

#program-panel .well {
  padding: 8px 12px 2px 12px;
}

#program-panel > .well {
  border-color: black;
}

#program-panel .well .well {
  background-color: lightgoldenrodyellow;
  border-color: darkgray;
}

#program-panel .well .well .well {
  background-color: gainsboro;
}

#program-panel .well .well .well .well {
  background-color: lightgoldenrodyellow;
  border-color: darkgray;
}

#program-panel .well .well.primary {
  margin-bottom: 4px;
}

#program-panel .well .well.secondary {
  background-color: antiquewhite;
}

#program-panel .well .well .well .well.secondary {
  background-color: antiquewhite;
}

#program-panel .well .well .well.secondary {
  background-color: burlyWood;
}

#program-panel p.center {
  text-align: center;
}

#program-panel .instruction-container.block-container {
  margin-bottom: 0px;
}

.instruction-container.block-container .instruction-content > p {
  background-color: whiteSmoke;
}

.instruction-content > p {
  display: inline-block;
}

.well .instruction-container.block-container .instruction-content > p {
  background-color: lightgoldenrodyellow;
  border-color: burlyWood;
}

.well .well .well .instruction-container.block-container .instruction-content > p {
  background-color: lightgoldenrodyellow;
  border-color: burlyWood;
}

.well .well .instruction-container.block-container .instruction-content > p {
  background-color: gainsboro;
}

.placeholder {
  margin-bottom: 0px;
}

.placeholder > p {
  display: inline-block;
  margin-bottom: 0px;
}

.well .placeholder > p {
  background-color: antiqueWhite;
}

.well .well .placeholder > p {
  background-color: burlyWood;
}

.well .well .well .placeholder > p {
  background-color: antiqueWhite;
}

